{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "es5",
  "semi": true,
  "useTabs": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "endOfLine": "lf",
  "arrowParents": "avoid"
}
